body {font-family: 'Diphylleia', serif;}
h1.main-text {font-family: 'Roboto', sans-serif;}
.navbar-brand span {
    margin-left: -12px;
}
div.jumbotron {
    min-height: 700px;
    background-image: url('../images/cover-min.jpg') !important;
    background-repeat: no-repeat;
    background-position: 0;
    background-size: cover;
    padding: 2.5rem;
}
.img-product{height: 260px;}
div.keranjang-container { min-height: 400px;}
input.form-kuantitas {
   width: 25%;
}
div.keranjang {
    margin-bottom: 14px !important;
}
img.rounded {width: 90px;}
div.checkout-container{min-height: 500px;}
div.checkout {width: 400px;}
/* img.checkout {
    max-width: 300px !important;
    margin-left: -12px;
    height: 100%;
} */
form {
    display: inline;
}
form.form-checkout{display: block;}
/* breakpoint */
@media (min-width: 576px) { 
    div.jumbotron {
        max-height: 900px; 
        background-image: url('../images/cover-min.jpg') !important;
        background-repeat: no-repeat;
        background-position: 0 -100px;
        background-size: cover;
    }
    input.form-kuantitas {
        width: 25% !important;
        text-align: center;
        padding: 5px;
    }
    div.keranjang {
        margin-bottom: 0px !important;
    }
    div.checkout {width: 900px;}
    img.checkout {
        max-width: 300px !important;
        margin-left: -12px;
        height: 100%;
    }
 }